.color_format_back {
    background-color: #396cf0;
}

.color_format_text {
    color: white;
}

/* Navbar styling starts */
.nav-link {
    color: black !important;
    font-weight: bold;
    font-size: large;
}

.nav-link:hover {
    color: #6d6d6e !important;
}

.nav-item.active .nav-link {
    color: #6d6d6e !important;
}

.nav-item {
    margin-top: 0;
}

@media (min-width: 992px) {
    .navbar-nav {
        gap: 1rem;
    }
}

.dropdown-menu {
    text-align: center;
}

@media (min-width: 992px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
}

.header-nav {
    position: relative;
}

@media (max-width: 991.98px) {
    .header-collapse {
        width: 175px;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #fff;
        z-index: 1050;
        box-shadow: 0 10px 24px rgba(0, 0, 0, .12);
        padding: .75rem 1rem;
        border-radius: .5rem;
    }

    .navbar-nav .nav-item {
        margin: .25rem 0;
    }

    .dropdown-menu {
        position: static;
        float: none;
        margin: .25rem 0 0 0;
        box-shadow: none;
        border: 0;
    }

}

.navbar {
    padding: 0;
}

/* Navbar styling ends */

.doctor_page_banner {
    background-image: url('../../public/images/doctor_background_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 220px;
}

@media (max-width: 992px) {
    .doctor_page_banner {
        height: 200px;
        width: 100%;
    }
}




/* For Print Receipt Only */
@media print {

    body * {
        visibility: hidden;
    }

    #receipt,
    #receipt * {
        visibility: visible;
    }

    #receipt {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    button {
        display: none !important;
    }
}




/* Your Appointment Card */
.appointment-card {
    transition: all 0.25s ease;
    border-left: 5px solid #dc3545;
    border-radius: 12px;
    cursor: pointer;
}

.appointment-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.paid{
    color: green;
    font-weight: 500;
}

.pending{
    color: orange;
    font-weight: 500;
}

.failed{
    color: red;
    font-weight: 500;
}
