.card {
    animation: fadeInUp 0.6s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* allow horizontal scroll on small screens (if needed) */
.table-responsive {
    -webkit-overflow-scrolling: touch;
}

/* make long text wrap properly */
.table td,
.table th {
    white-space: nowrap;
}

@media (max-width: 768px) {

    .table td,
    .table th {
        font-size: 0.8rem;
    }

    .table img {
        max-width: 50px;
    }
}

.doctor-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* 60% transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.doctor-popup {
    background: #fff;
    opacity: calc(90%);
    width: 90%;
    max-width: 700px;
    border-radius: 8px;
    padding: 20px;
    max-height: 90vh;
    overflow-y: auto;
}

/*table description handling */
.dept-desc {
    overflow: scroll;
    cursor: all-scroll;
    max-height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width:none;
}